# Игнорируем кеш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем временную БД SQLite
db.sqlite3

# Игнорируем кеш миграций, но НЕ сами миграции!
**/migrations/__pycache__/

# Игнорируем файлы окружения
.env

# Игнорируем логи и прочие ненужные файлы
*.log
*.pot

# Игнорируем файлы IDE
.vscode/
.idea/

# Игнорируем системные файлы
.DS_Store
Thumbs.db
